/* Employee-dashboard.css */

.dashboard-container {
    max-width: 400px;
    margin: 100px auto;
    padding: 50px;
    background-color: #d4d8d8;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dashboard-title {
    color: #047833;
    text-align: center;
    margin-bottom: 20px;
}

.dashboard-table-container {
    overflow-x: auto;
    width: 100%;
    margin-top: 20px;
}

.dashboard-table {
    width: 100%;
    border-collapse: collapse;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.dashboard-table th,
.dashboard-table td {
    padding: 12px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

.dashboard-table th {
    background-color: #f2f2f2;
}

.dashboard-table tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

.dashboard-table tbody tr:hover {
    background-color: #f2f2f2;
}

/* Targeting the "Hours Worked" column specifically */
.dashboard-table td:nth-child(3) {
    color: red; /* Making the text color red */
}

.back-link {
    display: inline-block;
    margin-top: 20px;
    text-align: center;
    text-decoration: none;
    color: #fff;
    background-color: #007bff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.back-link:hover {
    background-color:  #047833;
}
