/* Login.css */

.login-container {
    width: 300px;
    margin: 100px auto;
    padding: 50px;
    background-color: #dcdfe1;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    display: flex; /* Add display flex */
    flex-direction: column; /* Arrange items vertically */
    align-items: center; /* Center items horizontally */
}

.login-container h1 {
    color: #047833;
    text-align: center;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 20px;
    width: 100%; /* Ensure form group spans full width */
}

.form-control {
    width: 100%;
    padding: 15px;
    margin-bottom: 15px;
    border: 1px solid #cccccc;
    border-radius: 20px;
    outline: none;
}

.btn {
    width: 100%;
    padding: 8px 12px;
    background-color: #007bff;
    color: #ffffff;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 14px;
}

.btn:hover {
    background-color: #047833;
}

.btn:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
    color: #666666;
}
